				<div class="box box-success">
	        		<div class="row">
	        			<div class="col-md-6 col-xs-6">
	        				<div class="small-box bg-gray">
					            <div class="inner">
					              <h3>0</h3>

					              <p>Foto Cara</p>
					            </div>
					            <div class="icon">
					              <i class="ion ion-ios-camera"></i>
					            </div>
				            	<a href="#" class="small-box-footer">Agregar foto <i class="fa fa-arrow-circle-right"></i></a>
				          	</div>
	        			</div>
	        			<div class="col-md-6 col-xs-6">
	        				<div class="small-box bg-gray">
					            <div class="inner">
					              <h3>0</h3>

					              <p>Huella</p>
					            </div>
					            <div class="icon">
					              <i class="ion ion-android-hand"></i>
					            </div>
				            	<a href="#" class="small-box-footer">Agregar huella <i class="fa fa-arrow-circle-right"></i></a>
				          	</div>
	        			</div>
	        			<div class="col-md-6 col-xs-6">
	        				<div class="small-box bg-gray">
					            <div class="inner">
					              <h3>0</h3>

					              <p>Iris</p>
					            </div>
					            <div class="icon">
					              <i class="ion ion-ios-eye"></i>
					            </div>
				            	<a href="#" class="small-box-footer">Agregar iris <i class="fa fa-arrow-circle-right"></i></a>
				          	</div>
	        			</div>
	        		</div>
	          	</div>